html {
  height: 100%;
}

body {
  background-color: #FECDAF;
  color: #7888FF;
  /* font-family: "Roboto", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Tahoma";
  font-size: 13px;
  height: 100%;
  letter-spacing: 0.8px;
  margin: 0;
  padding: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  color: #7888FF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.app {
  background-color: white;
  box-shadow: 16px 16px 16px #CF9573;
  min-width: 340px;
  top: 95px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-header {
  border-bottom: 2px solid #F6F7FF;
}

.todo-list {
  padding: 10px;
  min-height: 340px;
  max-height: 340px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.completed {
  color: #D7DBFF;
  text-decoration: line-through;
}

.card-footer {
  border-top: 2px solid #F6F7FF;
  display: flex;
  justify-content: space-between;
}
