html {
  height: 100vh;
}

body {
  background-color: #FECDAF;
  color: #7888FF;
  font-family: "Tahoma", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  /* height: 100vh; */
  letter-spacing: 0.7px;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  color: #7888FF;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}

input[type="text"] {
  color: #7888FF;
  border: 1px solid #DDE0FF;
  height: 15px;
  margin-right: 2px;
  outline: none;
  padding-left: 3px;
  width: 90px;
}

.app {
  background-color: white;
  box-shadow: 16px 16px 16px #CF9573;
  min-width: 340px;
  overflow-y: scroll;
  top: 95px;
  display: flex;
  flex-direction: column;

  margin-top: 10vh;
}

.card {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  border-bottom: 2px solid #F6F7FF;
}

.todo-list {
  padding: 10px;
  max-height: 340px;
  min-height: 340px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.time {
  color: #D7DBFF;
}

.completed {
  color: #D7DBFF;
  text-decoration: line-through;
}

.card-footer {
  border-top: 2px solid #F6F7FF;
  display: flex;
  justify-content: space-between;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7888FF;
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.light-purple {
  color: #7888FF;
  opacity: 0.5;
}

.todo-form {
  display: flex;
}